$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "simple-line-icons/scss/simple-line-icons.scss";
@import "select2/src/scss/core.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* CUSTOM STYLES */
.notice {
    .feeds {
        li {
            /*height: 45px;*/
            margin-bottom: 15px;
            margin-right: 10px;
        }

        .panel-collapse {
            &.in {
                border: none;
                background-color: #f3f6f9;
                margin-top: 45px;
            }
        }
    }
}

.notice .feeds li .col1 > .cont > .cont-col1 > .label {
    padding: 15px !important;
}

.notice .feeds li .col1 > .cont > .cont-col2 > .desc {
    margin-left: 60px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    overflow: hidden;
    font-size: 14px !important;
}

.schooltimetable {
    .fc-toolbar {
        display: none;
    }

    .fc-head {
        display: none;
    }
}

.schoollogo {
    float: left;
    width: 50%;
    height: 50px;
    margin-top: 10px;

    img {
        width: 100%;
        height: 100%;
    }
}

.form-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/* Bootstrap side panel styles */
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom: none !important;
}

.form-group.form-md-line-input select.form-control.input-sm {
    padding: 0;
}

.modal-title {
    font-size: 1.7em;
}

.modal-close {
    margin: 10px 0;

    span {
        font-size: 2em;
    }
}

.form-group.form-md-line-input .form-control[readonly], .form-group.form-md-line-input .form-control[disabled], fieldset[disabled] .form-group.form-md-line-input .form-control {
    background: none;
    cursor: not-allowed;
    border-bottom: 1px dashed #e5e5e5;
}
