<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Assignments
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-file-text font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">ASSIGNMENT</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button data-toggle="modal" data-target="#edit-assignments" data-ng-click="AssignmentsCtrl.editmode = false;AssignmentsCtrl.setFloatLabel();NoticeboardCtrl.detailsMode = false;"
                                                    class="btn green">
                                                    Add New Assignment
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover table-bordered sm_editable_grid" id="assignments_datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Class
                                            </th>
                                            <th>
                                                Subject
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                From
                                            </th>
                                            <th>
                                                To
                                            </th>
                                            <th class="text-center">
                                                More Details
                                            </th>
                                            <th class="text-center">
                                                Edit
                                            </th>
                                            <th class="text-center">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="assignment in AssignmentsCtrl.assignmentList">
                                            <td>{{assignment.title}}</td>
                                            <td>{{assignment.class.className}} - {{assignment.class.sectionName}}</td>
                                            <td>{{assignment.subjectId}}</td>
                                            <td>{{assignment.description}}</td>
                                            <td>{{assignment.fromDate | date:'dd-MM-yyyy'}}</td>
                                            <td>{{assignment.toDate | date:'dd-MM-yyyy'}}</td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" data-ng-click="AssignmentsCtrl.moreDetails($index);">
                                                    <i class="fa fa-file-text-o"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" data-ng-click="AssignmentsCtrl.editAssignment($index)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="AssignmentsCtrl.confirmCallbackMethod($index)"
                                                    ng-bootbox-confirm-action-cancel="AssignmentsCtrl.confirmCallbackCancel()">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- EDIT MODAL -->
<div id="edit-assignments" class="modal right fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click="AssignmentsCtrl.closeModal()"><span class="icon-close"></span></a>
                <h4 class="modal-title font-green">Assignments</h4>
            </div>
            <div class="modal-body form">
                <div class="form-container" data-ng-if="!AssignmentsCtrl.detailsMode">
                    <form name="assignmentform" novalidate role="form" data-ng-submit="AssignmentsCtrl.assignmentAction(assignmentform.$invalid)">
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="title" data-ng-model="AssignmentsCtrl.formFields.title" maxlength="50"
                                required />
                            <label for="form_control_1">TITLE</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="AssignmentsCtrl.formFields.classId" name="classId" data-ng-change="AssignmentsCtrl.selectedClass()"
                                class="form-control input-sm" required>
                                <option value="">CLASS</option>
                                <option ng-repeat="class in AssignmentsCtrl.classList" value="{{class.id}}">{{class.className}} {{class.sectionName}}</option>
                            </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="AssignmentsCtrl.formFields.subjectId" name="subjectId" class="form-control input-sm" required>
                                <option value="">Subject</option>
                                <option ng-repeat="subject in AssignmentsCtrl.subjectList" value="{{subject.id}}">{{subject.subjectName}}</option>
                            </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="description" data-ng-model="AssignmentsCtrl.formFields.description"
                                maxlength="50" required />
                            <label for="form_control_1">DESCRIPTION</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" id="assignmentdate1" name="fromDate" data-ng-model="AssignmentsCtrl.formFields.fromDate"
                                maxlength="50" required />
                            <label for="form_control_1">FROM DATE</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" id="assignmentdate2" name="toDate" data-ng-model="AssignmentsCtrl.formFields.toDate"
                                maxlength="50" required />
                            <label for="form_control_1">TO DATE</label>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn default">Reset</button>
                            <button type="submit" class="btn green" data-ng-disabled="assignmentform.$invalid"><i class="fa fa-check"></i> Submit</button>
                        </div>
                    </form>
                </div>
                <div class="form-container" data-ng-if="AssignmentsCtrl.detailsMode">
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            From Date:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.fromDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            To Date:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.toDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            Title:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.title}}
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            Description:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.description}}
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            Class Name:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.class.className}}
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            Section Name:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.class.sectionName}}
                        </div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-5 name">
                            Subject Name:
                        </div>
                        <div class="col-md-7 value">
                            {{AssignmentsCtrl.viewValue.subject.subjectName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT MODAL END-->
<script>
    (function () {
        $('.calendarctrl').datetimepicker({
            format: 'DD-MM-YYYY',
            minDate: new Date()
        });
    })();
</script>