<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Transport Management <i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Bus Subscription
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-newspaper-o font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">BUS SUBSCRIPTION</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button data-toggle="modal" data-target="#edit-bussubscription" class="btn green">
                                                    New Bus Subscription
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover table-bordered sm_editable_grid" id="bussubscription_datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Student Name
                                            </th>
                                            <th>
                                                Class
                                            </th>
                                            <th>
                                                Service Number
                                            </th>
                                            <th>
                                                Service Name
                                            </th>
                                            <th>
                                                PickUp
                                            </th>
                                            <th class="text-center">
                                                Edit
                                            </th>
                                            <th class="text-center">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="bussubscription in BussubscriptionCtrl.bussubscriptionList">
                                            <td>{{busservice.serviceNo}}</td>
                                            <td>{{busservice.serviceName}}</td>
                                            <td>{{busservice.bus.busNo}}</td>
                                            <td class="text-center">
                                                <i class="fa fa-file-text-o font-blue"></i>
                                            </td>
                                            <td class="text-center">
                                                <a class="edit" href="javascript:void(0);">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="delete" href="javascript:void(0);" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="BussubscriptionCtrl.confirmCallbackMethod($index)"
                                                    ng-bootbox-confirm-action-cancel="BussubscriptionCtrl.confirmCallbackCancel($index)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- EDIT MODAL -->
<div id="edit-bussubscription" class="modal right fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click=" BussubscriptionCtrl.closeModal()"><span class="icon-close"></span></a>
                <h4 class="modal-title font-green">Bus Subscription</h4>
            </div>
            <div class="modal-body form">
                <div class="form-container">
                    <form name="busserviceform" novalidate role="form" data-ng-submit=" BussubscriptionCtrl.serviceAction(busserviceform.$invalid)">
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="BussubscriptionCtrl.formFields.busId" name="busId" class="form-control input-sm" required>
                            <option value="">Bus Service</option>
                            <option ng-repeat="bus in BussubscriptionCtrl.busList" value="{{bus.id}}">{{bus.busNo}}</option>
                            </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="BussubscriptionCtrl.formFields.busId" name="busId" class="form-control input-sm" required>
                            <option value="">Class</option>
                            <option ng-repeat="bus in BussubscriptionCtrl.busList" value="{{bus.id}}">{{bus.busNo}}</option>
                            </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="BussubscriptionCtrl.formFields.busId" name="busId" class="form-control input-sm" required>
                            <option value="">Student</option>
                            <option ng-repeat="bus in BussubscriptionCtrl.busList" value="{{bus.id}}">{{bus.busNo}}</option>
                            </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="BussubscriptionCtrl.formFields.busId" name="busId" class="form-control input-sm" required>
                            <option value="">Route</option>
                            <option ng-repeat="bus in BussubscriptionCtrl.busList" value="{{bus.id}}">{{bus.busNo}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn default">Reset</button>
                            <button type="submit" class="btn green" data-ng-disabled="busserviceform.$invalid"><i class="fa fa-check"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT MODAL END-->
<script>
    (function () {
        $('.calendarctrl').datetimepicker({
            format: 'HH:mm'

        });
    })();
</script>