<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Transport Management <i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Bus Service
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-subway font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">BUS SERVICE</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button class="btn green" data-toggle="modal" data-target="#edit-busservice">
                                                    Add New Bus Service
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover table-bordered sm_editable_grid" id="busservice_datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Service Number
                                            </th>
                                            <th>
                                                Service Name
                                            </th>
                                            <th>
                                                Bus Number
                                            </th>
                                            <th class="text-center">
                                                More Details
                                            </th>
                                            <th class="text-center">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="busservice in BusserviceCtrl.busserviceList">
                                            <td>{{busservice.serviceNo}}</td>
                                            <td>{{busservice.serviceName}}</td>
                                            <td>{{busservice.bus.busNo}}</td>
                                            <td class="text-center">
                                                <i class="fa fa-file-text-o font-blue"></i>
                                            </td>
                                            <td class="text-center">
                                                <a class="" href="javascript:void(0);" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="BusserviceCtrl.confirmCallbackMethod($index)"
                                                    ng-bootbox-confirm-action-cancel="BusserviceCtrl.confirmCallbackCancel($index)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- EDIT MODAL -->
<div id="edit-busservice" class="modal right fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click=" BusserviceCtrl.closeModal()"><span class="icon-close"></span></a>
                <h4 class="modal-title font-green">BUS SERVICE</h4>
            </div>
            <div class="modal-body form">
                <div class="form-container">
                    <form name="busserviceform" novalidate role="form" data-ng-submit="BusserviceCtrl.serviceAction(busserviceform.$invalid)">
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="BusserviceCtrl.formFields.busId" name="busId" class="form-control input-sm" required>
                                                <option value="">Bus Number</option>
                                                <option ng-repeat="bus in BusserviceCtrl.busList" value="{{bus.id}}">{{bus.busNo}}</option>
                                                </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="serviceStartPoint" data-ng-model="BusserviceCtrl.formFields.serviceStartPoint"
                                maxlength="200" vs-google-autocomplete placeholder="" required />
                            <label for="form_control_1">PickUp Ponit</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="serviceDropPoint" data-ng-model="BusserviceCtrl.formFields.serviceDropPoint"
                                maxlength="200" vs-google-autocomplete placeholder="" required />
                            <label for="form_control_1">Drop Point</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="serviceNo" data-ng-model=" BusserviceCtrl.formFields.serviceNo" maxlength="50"
                                required />
                            <label for="form_control_1">Service Number</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" id="servicepickup" name="servicePickupPointTime" data-ng-model="BusserviceCtrl.formFields.servicePickupPointTime"
                                maxlength="50" required />
                            <label for="form_control_1">PickUp Start Time</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" id="servicedrop" name="serviceDropPointTime" data-ng-model="BusserviceCtrl.formFields.serviceDropPointTime"
                                maxlength="50" required />
                            <label for="form_control_1">Drop Start Time</label>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn default">Reset</button>
                            <button type="submit" class="btn green" data-ng-disabled="busserviceform.$invalid"><i class="fa fa-check"></i> Add Routes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT MODAL END-->
<script>
    (function () {
        $('.calendarctrl').datetimepicker({
            format: 'HH:mm'

        });
    })();
</script>