<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Class Upgrade
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <!--<i class="fa fa-inbox font-green"></i>-->
                                    <span class="caption-subject font-green bold uppercase">CLASS UPGRADE</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="portlet-body form">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Important Notes</h3>
                                        </div>
                                        <div class="panel-body">
                                            <ul>
                                                <li>
                                                    The maximum file size for uploads is <strong>5 MB</strong>.
                                                </li>
                                                <li>
                                                    Only <strong>CSV</strong> format files are allowed to upload.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <form class="form-bordered form-horizontal" name="fileuploadform" data-ng-submit="ClassUpgradeCtrl.uploadFiles()" novalidate>
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <select ng-model="ClassUpgradeCtrl.classId" name="classId" class="form-control" required>
                                                <option value="">Class </option>
                                                <option ng-repeat="class in ClassUpgradeCtrl.classList" value="{{class.id}}">{{class.className}}-{{class.sectionName}}</option>
                                            </select>
                                            </div>
                                            <div class="col-md-5">
                                                <select ng-model="ClassUpgradeCtrl.classId" name="classid" class="form-control" required>
                                                <option value="">Class </option>
                                                <option ng-repeat="class in ClassUpgradeCtrl.classList" value="{{class.id}}">{{class.className}}-{{class.sectionName}}</option>
                                            </select>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="btn-group">
                                                    <button class="btn green" type="submit" data-ng-disabled="fileuploadform.$invalid">
                                                    Submit
                                                    <i class="fa fa-upload"></i>
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- TABULAR CONTENT GOES HERE-->
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->