<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Fees Management <i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Expenses
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-rupee font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">EXPENSES</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button data-toggle="modal" data-target="#edit-expenses" class="btn green">
                                                    Add New Expense
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover table-bordered sm_expense_editable_grid" id="expenses_datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th class="text-center">
                                                More Details
                                            </th>
                                            <th class="text-center">
                                                Edit
                                            </th>
                                            <th class="text-center">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="expense in ExpensesCtrl.expensesList">
                                            <td>{{expense.expenseType}}</td>
                                            <td>{{expense.description}}</td>
                                            <td>{{expense.date | date:'dd-MM-yyyy'}}</td>
                                            <td>{{expense.amount}}</td>
                                            <td class="text-center">
                                                <a class="" href="javascript:void(0)">
                                                    <i class="fa fa-file-text-o"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="" href="javascript:void(0);" data-ng-click="ExpensesCtrl.editExpense($index)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="delete" href="javascript:void(0);" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="ExpensesCtrl.confirmCallbackMethod($index)"
                                                    ng-bootbox-confirm-action-cancel="ExpensesCtrl.confirmCallbackCancel($index)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- EDIT MODAL -->
<div id="edit-expenses" class="modal right fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click=" ExpensesCtrl.closeModal()"><span class="icon-close"></span></a>
                <h4 class="modal-title font-green">EXPENSE</h4>
            </div>
            <div class="modal-body form">
                <div class="form-container">
                    <form name="expensesform" novalidate role="form" data-ng-submit=" ExpensesCtrl.expenseAction(expensesform.$invalid)">
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="expensetype" data-ng-model=" ExpensesCtrl.formFields.expenseType"
                                maxlength="50" required />
                            <label for="form_control_1">Expense Type</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" name="expensedate" data-ng-model=" ExpensesCtrl.formFields.date"
                                maxlength="50" required />
                            <label for="form_control_1">Expense Date</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="description" data-ng-model=" ExpensesCtrl.formFields.description"
                                maxlength="50"  required />
                            <label for="form_control_1">Description</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="amount" data-ng-model=" ExpensesCtrl.formFields.amount" maxlength="50"
                                required />
                            <label for="form_control_1">Expense Amount</label>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn default">Reset</button>
                            <button type="submit" class="btn green" data-ng-disabled="expensesform.$invalid"><i class="fa fa-check"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT MODAL END-->
<script>
    (function () {
        $('.calendarctrl').datetimepicker({
            format: 'DD-MM-YYYY',
            minDate: new Date()
        });
    })();
</script>