<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="http://studymonitor.net/index.html" title="Portfolio" target="_blank">Home</a></li>
                    <li><a href="http://studymonitor.net/aboutus.html" title="About Us" target="_blank">About Us</a></li>
                    <li><a href="http://studymonitor.net/product.html" title="product" target="_blank">Product</a></li>
                    <li><a href="http://studymonitor.net/clients.html" title="Clients" target="_blank">Clinets</a></li>
                    <li><a href="http://studymonitor.net/contact.html" title="Contact" target="_blank">Contact</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                <!--<h2>Subscribe Email</h2>
                <div class="subscribe-form">
                    <form action="javascript:;">
                        <div class="input-group">
                            <input type="text" placeholder="mail@email.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Submit</button>
                            </span>
                        </div>
                    </form>
                </div>-->
                <h2>Main features</h2>
                <ul>
                    <li>
                        <p>Automated Attendance </p>
                    </li>
                    <li>
                        <p>Live Bus Tracking </p>
                    </li>
                    <li>
                        <p>Parent Teacher Interactive meetings </p>
                    </li>
                    <li>
                        <p>Smart School Management App </p>
                    </li>
                    <li>
                        <p>Live Updates </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Follow Us On</h2>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/studymonitor" target="_blank" data-original-title="facebook" class="facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank" data-original-title="youtube" class="youtube"></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" data-original-title="linkedin" class="linkedin"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Get in touch</h2>
                <address class="margin-bottom-40">
                    <span><i class="fa fa-map-marker"></i> 2nd Floor, Plot No.18,<br> Opposite GHMC Park, <br> ICRISAT Colony, Madinaguda,<br>
                     Hyderabad, Telangana 500050.</span><br>
                    <span><i class="fa fa-phone"></i> 99 49 06 00 70 <br>99 00 03 00 17 </span><br>
                    <span><i class="fa fa-envelope-o"></i> <a href="mailto:info@studymonitor.net" title="">info@studymonitor.net</a> </span>
                    <!--Phone: 9949060070<br> Email: <a href="mailto:info@studymonitor.net">info@studymonitor.net</a>-->
                </address>
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="container">
        <p><strong>Study Monitor</strong> &copy; 2016. All Rights Reserved.<br> Powered By: <a href="http://studymonitor.net"
                title="Study Monitor" target="_blank"><strong>Study Monitor</strong></a></p>
        <!--2016 &copy;<a href="http://studymonitor.net" target="_blank">Study Monitor!</a>-->
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/586cced89d4fd220380c69b1/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->