<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Noticeboard
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-bullhorn font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">NOTICEBOARD</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button data-toggle="modal" data-target="#edit-notice" class="btn green">
                                                    Add New Notice
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover table-bordered sm_editable_grid" id="notice_datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                From
                                            </th>
                                            <th>
                                                To
                                            </th>
                                            <th class="text-center">
                                                Edit
                                            </th>
                                            <th class="text-center">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="notice in NoticeboardCtrl.noticeList">
                                            <td>{{notice.title}}</td>
                                            <td>{{notice.description}}</td>
                                            <td>{{notice.date1 | date:'dd-MM-yyyy'}}</td>
                                            <td>{{notice.date2| date:'dd-MM-yyyy'}}</td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" data-ng-click="NoticeboardCtrl.editNotice($index)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="NoticeboardCtrl.confirmCallbackMethod($index)"
                                                    ng-bootbox-confirm-action-cancel="NoticeboardCtrl.confirmCallbackCancel($index)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- EDIT MODAL -->
<div id="edit-notice" class="modal right fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click="NoticeboardCtrl.closeModal()"><span class="icon-close"></span></a>
                <h4 class="modal-title font-green">NoticeBoard</h4>
            </div>
            <div class="modal-body form">
                <div class="form-container">
                    <form name="noticeboardform" novalidate role="form" data-ng-submit="NoticeboardCtrl.noticeboardAction(noticeboardform.$invalid)">
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="title" data-ng-model="NoticeboardCtrl.formFields.title" maxlength="50"
                                required />
                            <label for="form_control_1">TITLE</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm" name="description" data-ng-model="NoticeboardCtrl.formFields.description"
                                maxlength="50" required />
                            <label for="form_control_1">DESCRIPTION</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" id="noticedate1" name="date1" data-ng-model="NoticeboardCtrl.formFields.date1"
                                maxlength="50" required />
                            <label for="form_control_1">FROM DATE</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <input type="text" class="form-control input-sm calendarctrl" id="noticedate2" name="date2" data-ng-model="NoticeboardCtrl.formFields.date2"
                                maxlength="50" required />
                            <label for="form_control_1">TO DATE</label>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn default">Reset</button>
                            <button type="submit" class="btn green" data-ng-disabled="noticeboardform.$invalid"><i class="fa fa-check"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT MODAL END-->
<script>
    (function () {
        $('.calendarctrl').datetimepicker({
            format: 'DD-MM-YYYY',
            minDate: new Date()
        });
    })();
</script>