<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    School Directory
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-institution font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">SCHOOOL DIRECTORY</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button data-toggle="modal" data-target="#edit-class" data-ng-click="ClassCtrl.editmode = false;ClassCtrl.setFloatLabel()" class="btn green">
                                                    Add New
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- INNER CONTENT GOES HERE-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group form-md-radios">
                                            <label>Checkboxes</label>
                                            <div class="md-radio-list">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio1" name="directory" class="md-radiobtn" value="Students" data-ng-model="SchooldirectoryCtrl.searchSelection" />
                                                    <label for="radio1"><span class="inc"></span><span class="check"></span><span class="box"></span> Students </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio2" name="directory" class="md-radiobtn" value="Staff" data-ng-model="SchooldirectoryCtrl.searchSelection" />
                                                    <label for="radio2"><span class="inc"></span><span class="check"></span><span class="box"></span> Staff </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio3" name="directory" class="md-radiobtn" value="Parents" data-ng-model="SchooldirectoryCtrl.searchSelection" />
                                                    <label for="radio3"><span class="inc"></span><span class="check"></span><span class="box"></span> Parents </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <table class="table table-striped table-hover table-bordered sm_editable_grid" id="schooldirectory_datatable">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Photo
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Roll No
                                                    </th>
                                                    <th>
                                                        Class / Section
                                                    </th>
                                                    <th>
                                                        Contact
                                                    </th>
                                                    <th class="text-center">
                                                        Edit
                                                    </th>
                                                    <th class="text-center">
                                                        Delete
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="data in SchooldirectoryCtrl.directorList">
                                                    <td>{{data.image}}</td>
                                                    <td>{{data.firstName}} {{data.lastName}}</td>
                                                    <td>{{data.type}}</td>
                                                    <td>{{data.email}}</td>
                                                    <td>{{data.rollNo}}</td>
                                                    <td>{{data.className}} - {{data.sectionName}}</td>
                                                    <td>{{data.contact}}</td>
                                                    <td class="text-center">
                                                        <a class="edit" href="javascript:void(0);">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="delete" href="javascript:void(0);">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
