<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Subjects
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-book font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">SUBJECTS LIST</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                <button class="btn green" data-toggle="modal" data-target="#edit-subject" data-ng-click="SubjectsCtrl.editmode = false;">
                                                    Add New Subject
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover table-bordered sm_editable_grid" id="subjects_datatable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Subject
                                            </th>
                                            <th>
                                                Class
                                            </th>
                                            <th>
                                                Teacher
                                            </th>
                                            <th class="text-center">
                                                Enable Exam
                                            </th>
                                            <th class="text-center">
                                                Edit
                                            </th>
                                            <th class="text-center">
                                                Delete
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="subject in SubjectsCtrl.subjectList">
                                            <td>{{subject.subjectName}}</td>
                                            <td>{{subject.class.className}}-{{subject.class.sectionName}}</td>
                                            <td>{{subject.staff.firstName}} {{subject.staff.lastName}}</td>
                                            <td class="text-center">
                                                <input bs-switch ng-model="subject.examFlag" type="checkbox" switch-size="mini" switch-on-text="Yes" switch-off-text="No" />
                                            </td>
                                            <td class="text-center">
                                                <a class="" href="javascript:void(0);" data-ng-click="SubjectsCtrl.editSubject($index)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="" href="javascript:void(0);" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="SubjectsCtrl.confirmCallbackMethod($index)"
                                                   ng-bootbox-confirm-action-cancel="SubjectsCtrl.confirmCallbackCancel($index)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- EDIT MODAL -->
<div id="edit-subject" class="modal right fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click="SubjectsCtrl.closeModal()"><span class="icon-close"></span></a>
                <h4 class="modal-title font-green">Subjects</h4>
            </div>
            <div class="modal-body form">
                <div class="form-container">
                    <form name="subjectform" novalidate role="form" data-ng-submit="SubjectsCtrl.CreateOrUpdate(subjectform.$invalid)">
                        <div class="form-group form-md-floating-label has-info" data-ng-class="{'form-md-line-input': !SubjectsCtrl.editmode}">
                            <input type="text" class="form-control input-sm" name="subjectname" data-ng-model="SubjectsCtrl.formFields.subjectName" maxlength="50"
                                   data-ng-hide="SubjectsCtrl.editmode" required />
                            <label for="form_control_1">Subject Name</label><span data-ng-show="SubjectsCtrl.editmode"> : {{SubjectsCtrl.formFields.subjectName}}</span>
                        </div>
                        <div class="form-group form-md-floating-label has-info" data-ng-class="{'form-md-line-input': !SubjectsCtrl.editmode}">
                            <select class="form-control input-sm" name="classname" data-ng-model="SubjectsCtrl.formFields.classId" maxlength="50" ng-hide="SubjectsCtrl.editmode"
                                    required>
                                <option value="">Select Class</option>
                                <option data-ng-repeat="subject in SubjectsCtrl.classList" value="{{subject.id}}">{{subject.className}} - {{subject.sectionName}}</option>
                            </select>
                            <label for="form_control_1">Class Name</label><span data-ng-show="SubjectsCtrl.editmode"> : {{subject.className}} - {{subject.sectionName}}</span>
                            <!--<label for="form_control_1">Class Name</label><span data-ng-show="SubjectsCtrl.editmode">: {{SubjectsCtrl.formFields.sectionName}}</span>-->
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            <select data-ng-model="SubjectsCtrl.formFields.staffName" name="teachername" class="form-control input-sm" required>
                                <option value="">Select Teacher</option>
                                <option ng-repeat="staff in SubjectsCtrl.staffList" value="{{staff.id}}">{{staff.firstName}} {{staff.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info static-info">
                            <label>Exam enable/disable: </label>
                            <input bs-switch data-ng-init="SubjectsCtrl.formFields.examFlag = false" ng-model="SubjectsCtrl.formFields.examFlag" type="checkbox" switch-size="mini" switch-on-text="Yes" switch-off-text="No" />
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn default" ng-hide="SubjectsCtrl.editmode">Reset</button>
                            <button type="submit" class="btn green" data-ng-disabled="subjectform.$invalid"><i class="fa fa-check"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT MODAL END-->